// Home Content

.home {
  .splash {
    img {
      width: 100%;
      .rndCorn(5px);
    }
  }
  .intro {
    h2 {
      padding: 15px;
    }

    p {
      padding: 0 15px;
    }
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      .rndCorn(20px);
      height: 100%;

      @media @phone {
        width: 90%;
        margin: 20px auto;
        &:not(:first-child) {
          display: none;
        }
      }
      @media @tablet {
        width: 31%;
        margin: 20px 1%;
      }
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    @media @phone {
      margin-top: 20px;
      padding: 20px 4%;
      flex-flow: column-reverse nowrap;
    }
    @media @tablet {
      margin: 30px 0 0;
      padding: 15px 2.5%;
      flex-flow: column-reverse nowrap;
    }

    .walk-text {
      width: 50%;
      @media @phone {
        width: 100%;
        margin-top: 20px;
      }
      @media @tablet {
        width: 100%;
        margin-top: 20px;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .btnStyle(1.6rem, 5px);
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      @media @phone {
        width: 100%;
        margin: 0 auto;
      }
      @media @tablet {
        width: 446px;
        margin: 0 auto;
      }


      img {
        width: 100%;
        height: auto;
        .rndCorn(10px);
      }
    }
  }
} // home
