// Mixins Here
.botLine(@col) {
  border-bottom: 2px solid @col;
}
.rndCorn(@rad) {
  border-radius: @rad;
}
.btnStyle(@size, @rad) {
  background-color: @btn-bg-color;
  color: @wild-sand;
  .rndCorn(@rad);
  display: inline-block;
  padding: 10px 20px;
  font-size: @size;
  cursor: pointer;
  &:hover {
      color: @btn-bg-color;
      background-color: @wild-sand;
  }

  @media @phone {
      display: block;
      text-align: center;
      padding: 20px 0;
  }
  @media @tablet {
      width: 50%;
      display: block;
      margin: 0 auto;
      text-align: center;
  }
}
